*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-500: #641bff;
  --bg-color-500: #1e1f26;
  --transition: all 300ms ease-in-out;
  --btn-color-500: #8874a3;
  --max-width: 1200px;
  --shadow: 0 6 30 0 rgba(0, 0, 0, 0.4);
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  height: 6rem;
  background-color: none;
  z-index: 99;
  transition: var(--transition);
  background-color: var(--bg-color-500);
  width: 100%;
}

.show {
  position: sticky;
  top: 0;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: var(--max-width);
}

.logo img {
  width: 120px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  height: 6rem;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  transition: var(--transition);
  height: 100%;
  width: 100%;
  padding: 0 1rem;
}

.nav-link:hover {
  color: var(--primary-500);
}

.nav-btn {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: .15rem .75rem;
  border-radius: 3px;
  z-index: 1;
  overflow: hidden;
  background-color: var(--btn-color-500);
  outline: none;
  margin-left: 1rem;
}

.nav-btn::before {
  content: '';
  position: absolute;
  border-radius: 3px;
  background-color: var(--primary-500);
  top: 0;
  right: 0;
  height: 100%;
  width: 110%;
  transform: translateX(-100%);
  transition: var(--transition);
  z-index: -1;
}

.nav-btn:hover::before,
.nav-btn:focus::before {
  transform: translateX(0);
}

@media screen and (max-width: 960px) {
  
  .nav-container {
    position: relative;
  }
  
  .nav-menu {
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: #1e1f26;
    height: 50vh;
    top: -1000px;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }
  
  .nav-menu.active {
    top: 100%;
    opacity: 1;
  }
  
  .nav-list {
    width: 100%;
    font-size: 1.3rem;
  }
  
  .nav-btn {
    width: 70%;
    margin: 0;
  }
  
  .toggle-btn .bar {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #fff;
    display: block;
    border-radius: 3px;
    transition: var(--transition);
  }
  
  .toggle-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .toggle-btn.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  .toggle-btn.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .toggle-btn.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
}

/* 
hero
*/

.hero {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 6rem);
  background-color: var(--bg-color-500);
  width: 100vw;
}

.bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.6) 100%), url('./bg.jpg');
  background-size: cover;
  
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90vw;
  min-height: calc(100vh - 6rem);
  align-items: center;
  max-width: var(--max-width);
}

.hero-img img {
  width: 80%;
  height: 80%;
}

.hero-img {
  text-align: center;
}

.hero-content h1 {
  background-color: #fff;
  font-size: 4rem;
  background-image: linear-gradient(to top, var(--bg-color-500) 0%, #fff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-content h2 {
  font-size: 3.5rem;
  background-color: #fff;
  background-image: linear-gradient(to top, var(--bg-color-500) 0%, #641bff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-content p {
  font-size: 1rem;
  margin-top: 1rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  
  background-color: #fff;
  background-image: linear-gradient(to top, var(--btn-color-500) 0%, #fff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  padding: .35rem 1.25rem;
  background-color: var(--btn-color-500);
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}

.hero-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100%;
  background-color: #641bff;
  border-radius: 3px;
  z-index: -1;
  transition: var(--transition);
}

.hero-btn:hover::before {
  right: 0;
}

@media screen and (max-width: 770px) {
  
  .hero-container {
    grid-template-columns: auto;
    gap: 1rem 0;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 3rem;
  }
  
  .hero-content h2 {
    font-size: 2.5rem;
  }
  
}

@media screen and (max-width: 470px) {
  
  .hero-container {
    gap: 3rem 0;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .hero-content h2 {
    font-size: 1.8rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
  
  .nav-list {
    font-size: 1rem;
  }
  
}

/*
waifu cards
*/

.waifus {
  min-height: calc(100vh - 6rem);
  background-color: var(--bg-color-500);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.waifus h1, .about h1 {
  text-transform: capitalize;
  font-size: 2.3rem;
  background-image: linear-gradient(
    to top,
    var(--bg-color-500) 0%,
    var(--primary-500) 50%,
    #fff 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.waifus-container {
  width: 90vw;
  max-width: var(--max-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}

.waifu-card {
  display: flex;
  align-items: flex-end;
  margin: 1rem;
  height: 30rem;
  width: 20rem;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  transition: all .3s ease-in;
  transform: scale(1);
}
.sumireko {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, .6) 100%), url('./waifus/sumireko.jpg');
}
.nemi {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, .6) 100%), url('./waifus/nemi.jpg');
}
.gura {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, .6) 100%), url('./waifus/gura.jpg');
}
.suon {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, .6) 100%), url('./waifus/suon.jpg');
}
.sora {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, .6) 100%), url('./waifus/sora.jpg');
}
.kinna {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, .6) 100%), url('./waifus/kinna.jpg');
}

.waifu-card:hover {
  transform: scale(1.070);
}

.waifu-card div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 35%;
  width: 100%;
}

.waifu-card h2 {
  margin-left: 2rem;
  color: #fff;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to top,
    var(--primary-500) 0%,
    #fff 60%,
    #fff 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: capitalize;
}

.waifu-card button {
  margin-left: 2rem;
  color: #fff;
  padding: .20rem .95rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-500);
  border-radius: 4px;
  box-shadow: var(--shadow);
  margin-top: .5rem;
  font-size: 1rem;
  position: relative;
  z-index: 1;
}

.waifu-card button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100%;
  background-color: var(--bg-color-500);
  z-index: -1;
  transition: var(--transition);
  border-radius: 4px;
}

.waifu-card button:hover::before {
  right: 0;
}

@media screen and (max-width: 480px) {
  
  .waifus h1 {
    margin-top: 3rem;
  }
  
  .waifu-card {
    height: 30rem;
  }
  
  .info-container {
    width: 15rem;
  }
  
}

/*
footer
*/

.footer {
  background-color: var(--bg-color-500);
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6rem
}

#footer-logo img {
  width: 90px;
}

#name {
  color: var(--primary-500);
}

.copyright {
  color: #fff;
  font-size: .8rem;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.social-icons a {
  font-size: 1.3rem;
  color: var(--btn-color-500);
  padding: 0 .2rem;
}

@media screen and (max-width: 480px) {
  
  .footer-container {
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .copyright {
    margin-top: 1rem;
  }
  
  #footer-logo {
    margin-top: 1rem;
  }
  
  .social-icons {
    margin: 1rem 0;
  }
  
}

/*
info
*/

.info {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.info-container {
  min-height: 50%;
  width: 20rem;
  background-color: #f8f9f9;
  background-color: #851e3e;
  background-color: #2e003e ;
  border-radius: 15px;
  position: relative;
  transition: all .3s ease-in-out;
  transform: scale(0);
  z-index: 10000;
}
.pop {
  transform: scale(1);
}

.info-message {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 85%;
}

.info-container button {
  border: none;
  color: #851e3e;
  background-color: transparent;
  font-size: 1.7rem;
  position: absolute;
  right: 1rem;
  top: .5rem;
  outline: none;
  cursor: pointer;
  padding: 0 .1rem;
}

.info-message h2 {
  text-align: center;
  color: #f4e7e7;
  margin-bottom: 1rem;
}

.info-message p {
  color: #e4dcf1;
}

#mess {
  margin-top: 1rem;
}
/*
#indent {
  margin-left: .5rem;
}*/


@media screen and (max-width: 400px) {
  .info-container {
    width: 15rem;
  }
  .info-message h2 {
    margin-bottom: .5rem;
  }
}

/*
birthday
*/

.birthday {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}


.birthday-container {
  background-color: #fff;
  height: 50%;
  width: 80%;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 100%), url('./image/bg-8.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  position: relative;
  transform: translateX(-115%);
  transition: all .4s ease-in-out;
}

.appear {
  transform: translateX(0);
}

.birthday-container button {
  position: absolute;
  border: none;
  color: #fe4a49;
  background-color: transparent;
  font-size: 1.7rem;
  right: 1rem;
  top: .5rem;
  outline: none;
  cursor: pointer;
  padding: 0 .1rem;
  border-radius: 50%;
}

.birthday-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 90%;
  height: 100%;
  /*background-image: url('./birthday.svg');
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;*/
}

.b-day-nemi {
  height: 80%;
  width: 40%;
}

.b-day-nemi h2 {
  margin-left: 1rem;
  font-size: 1.3rem;
}
.birthday-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  background-image: url('./birthday.svg');
  background-position: bottom right;
  background-size: 40%;
  background-repeat: no-repeat;
}

.birthday-content h1 {
  color: #fff;
  background-image: linear-gradient(to bottom, #00b159 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.birthday-img {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.birthday-content p {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .birthday-container {
    height: 40%;
  }
}

@media screen and (max-width: 750px) {
  .birthday-container {
    height: 35%;
  }
  .b-day-nemi h2 {
    font-size: 1rem;
  }
  .birthday-content h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 650px) {
  .birthday-container {
    height: 30%;
  }
  .birthday-content h1 {
    font-size: 1.5rem;
  }
  .birthday-content p {
    font-size: .7rem;
  }
}
@media screen and (max-width: 550px) {
  .b-day-nemi {
    height: 70%;
  }
  .b-day-nemi h2 {
    font-size: .9rem;
    margin-left: .5rem;
  }
  .birthday-content p {
    font-size: .5rem;
  }
  .birthday-container button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .b-day-nemi h2 {
    font-size: .7rem;
    margin-left: .5rem;
  }
  .birthday-container {
    height: 25%;
  }
  .birthday-content h1 {
    font-size: 1rem;
  }
  .birthday-content p {
    font-size: .5rem;
  }
}

/*
about
*/

.about {
  min-height: calc(100vh - 6rem);
  width: 100%;
  background-color: var(--bg-color-500);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  width: 90%;
  min-height: 100%;
  max-width: var(--max-width);
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.about-content {
  max-width: 700px;
}

.about-content h2 {
  text-align: center;
  background-image: linear-gradient(to top, #f4e7e7 0%, #641bff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-size: 100%;
  margin-bottom: 1rem;
}

.about-content p {
  margin-top: 1rem;
  color: #fff;
  color: #f4e7e7;
  color: grey;
  color: #707070;
  color: #ccc;
  text-align: center;
  font-size: .7rem;
}

@media screen and (max-width: 1100px) {
  .about-content p {
    font-size: .6rem;
  }
}
@media screen and (max-width: 650px) {
  .about-content p {
    font-size: .7rem;
  }
}

.about-slider {
  width: 100%;
  max-width: var(--max-width);
  margin: 3rem 0;
}


.about-slider-container {
  width: 100%;
}

.about-card {
  height: 30rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #251e3e;
  border-radius: 10px;
}

.about-card img {
  width: 100%;
}

.about-card .img-2 {
  width: auto;
  height: 60%;
}

/*
FAILURE

.about-container {
  display: grid;
  align-items: center;
  grid-template-columns: auto;
  gap: 2rem 0;
  width: 90%;
  max-width: var(--max-width);
}

.about-content {
  background-color: green;
}

.about-img {
  display: flex;
  align-items: center;
  padding: .5rem;
  background-color: #2e003e;
  border-radius: 5px;
}

.about-img-container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: .5rem;
}

.about-items-2 {
  display: flex;
  gap: 1rem;
  padding: .3rem 0;
  justify-content: center;
}

.about-items-2 img {
  height: 100%;
  width: 33%;
}

.about-items img {
  height: 100%;
  width: 100%;
}

.about-items {
}

.about-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  gap: 1rem;
} */
